.skill-card {
    background-color: black;
    width: 200px;
    height: 300px;
    border: 2px solid #ea580c;
    box-shadow: 0 5px 15px rgba(255, 87, 34, 0.5);
    /* Softer shadow */
    border-radius: 15px;
    margin: 15px;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth transitions */
}

.skill-card:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 30px rgba(255, 87, 34, 0.7);
    /* Enhanced shadow effect */
}

.skill-image {
    width: 150px;
    height: 200px;
    border-radius: 15px;
    overflow: hidden;
}

.skill-name {
    margin-top: 30px;
    color: #ea580c;
    box-shadow: 0 0 20px #ea580c;
}